body {
    font-family: Arial, sans-serif;
    background-image: url('./banner-bg.jpg'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que se repita la imagen */
    background-position: center center; /* Centra la imagen en el fondo */
}

h1, h2 {
    text-align: center;
}

.mapa-asientos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 20px;
    

}
.form-container {
    background-color: aliceblue;
    opacity: 0.55;

}

.asiento {
    width: 5px;
    height: 5px;
    margin: 5px;
    padding: 13px;
    font-size: 10px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: transform 0.2s;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    
    
}
.asiento:hover {
    background-color: silver;
    color: green;
    transform:scale3d(1.09,1.09,1)


}

.asiento.reserved {
    background-color: red;
    color: white;
}
.asiento.reserved:hover {
    transform: scale3d(0.95,0.95,1)
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label, form input {
    margin: 5px;
}

button {
    margin-top: 20px;
}

#pasajeros-list {
    margin-top: 20px;
    text-align: center;
}
.contenedorbvp {
    text-align: center;
}

.aisle{
    color:white ;
    opacity: 0;

}
