body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: black;
}

.fa-circle-check {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(149, 255, 149);
  font-size: 8em;
  margin-top: 15%;
}

p {
  color: #fff;
  font-size: 2em;
}

a {
  text-decoration: none;
}

span {
  color: #fff;
  cursor: pointer;
}

span:hover {
  color: #ccc;
}